.stats{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
div ol{
    padding-left: 20px;
    margin: 0;
}
.stats .card{
    overflow-y: auto;
    overflow-x: hidden;
    width: 250px;
    height: 250px;
    background-color: #696565;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}