nav{
    position: fixed;
    top: 0;
    left: 250px;
    right: 0;
    width: calc(100% - 250px);
    height: 60px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}